* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

#page {
    width: 1120px;
    margin: 88px auto 65px;
    color: #333333;
}

.text-mark {
    text-transform: uppercase;
    color: #E1624F;
    font-weight: bold;
}

h1 {
    font-size: 36px;
    margin: 8px 0 44px;
}

h1, h2, h3 {
    color: #1B1B1B;
}

h2 {
    margin-bottom: 8px;
    font-size: 32px;
}

h3 {
    margin-bottom: 4px;
    font-size: 28px;
}

#about-busan {
    font-style: italic;
    text-align: center;
    margin-top: 24px;
}

img {
    border-radius: 28px;
    width: 100%;
    object-fit: cover;
}

img + h3 {
    margin-top: 20px;
}

section + section img {
    margin-top: 48px;
}

ul {
    padding-left: 24px;
    font-weight: bold;
}

li::marker
{
    color: #333333;
}

.historia {
    color: #0C51A7;
}

.casais {
    color:#591B98;
}

.familias {
    color: #E5245E;
}

.orcamento {
    color: #E95E10;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin: 40px 0;
}

#city-reputation {
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px; 
    margin: 25px 0  48px;
}

footer span {
    font-family: "Alice", serif;
    color: #333333;
}

#coracao {
    width: 16px;
}